* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* container 1200 per creare blocchi di 100x100 */
main .container {
    width: 1200px;
}

.blue {
    background-color: #014A6F;
}

.white {
    background-color: #E2E2E2;
}

.red {
    background-color: #AD081B;
}

.black {
    background-color: black;
}

/* giant */
/* ----- */
.father {
    margin: 100px 0;
}

.father [class*="col-"] {
    height: 100px;
    background-color: black;
}

/* child */
/* ----- */
.child {
    margin: 100px 0;
}

.child [class*="col-"] {
    height: 50px;
}
